@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Styles{
    <link rel="stylesheet" href="~/css/customCSS/panel.css" />

}
    <h1>This is Customer Portal</h1>
    <fieldset>
        <legend>Up This Week</legend>
        <div class="img"></div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nunc volutpat lorem nec sapien sagittis convallis. Praesent rhoncus a lacus quis semper.
        Suspendisse potenti. Maecenas et sapien enim.
    </fieldset>